pip==25.1.1
fastapi
uvicorn
tensorflow-cpu
keras
numpy
mlflow
scikit-learn
# pickle5 - commenté car il pose problème sur Azure App Service Free Plan
python-multipart
pytest
httpx
pytest-cov
gunicorn
pytest-mock
requests